<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.queueme">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Beginning"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AddPerson" />
        <activity android:name=".AddSubject" />
        <activity
            android:name=".ChoosePerson"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MySessionSwipeFunction.ScreenSlidePagerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DetailedActivity"
            android:label="@string/title_activity_detailed"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StudOrAss"
            android:label="@string/title_activity_stud_or_ass"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ChooseSubjectAss"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".FeedAdapterSubject" />
        <activity
            android:name=".StartSession"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ChooseSubjectStud"
            android:screenOrientation="portrait" />
        <activity
            android:name=".InQueue"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SignupActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Infoscreens.WelcomeActivityStudass"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Infoscreens.WelcomeActivityStudent"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ResetPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MenyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".Studassqueue.StudassQueue"></activity>
    </application>

</manifest>