<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.queueme">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.app.queueme.Beginning"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.app.queueme.AddPerson"
            />
        <activity android:name="com.app.queueme.AddSubject"
            />
        <activity android:name="com.app.queueme.ChoosePerson"
            android:screenOrientation="portrait" />

        <activity android:name=".MySessionSwipeFunction.ScreenSlidePagerActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.app.queueme.DetailedActivity"
            android:label="@string/title_activity_detailed"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.app.queueme.StudOrAss"
            android:label="@string/title_activity_stud_or_ass"
            android:parentActivityName="com.app.queueme.Beginning"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.app.queueme.ChooseSubjectAss"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"

        />


        <activity android:name="com.app.queueme.ChooseSubjectStud"
            android:screenOrientation="portrait"
        />



    <activity android:name=".FeedAdapterSubject" />

        <activity android:name="com.app.queueme.StartSession"
            android:screenOrientation="portrait"/>


        <activity android:name="com.app.queueme.InQueue"
            android:screenOrientation="portrait"/>

        <activity android:name="com.app.queueme.SignupActivity"
            android:screenOrientation="portrait"/>

        <activity android:name="com.app.queueme.Infoscreens.WelcomeActivityStudass"
            android:screenOrientation="portrait"/>

        <activity android:name="com.app.queueme.Infoscreens.WelcomeActivityStudent"
            android:screenOrientation="portrait"/>

        <activity android:name="com.app.queueme.ResetPasswordActivity"
            android:screenOrientation="portrait"/>

        <activity android:name="com.app.queueme.MenyActivity"
            android:screenOrientation="portrait"/>

        <activity android:name="com.app.queueme.LoginActivity"
            android:screenOrientation="portrait"/>

      <activity android:name="com.app.queueme.Studassqueue.StudassQueue"></activity>
      
    </application>

</manifest>